body {
  margin: 0;
  font-family: sans-serif;
}

body > div:first-child {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes blink {
  0% {
    Color: white;
  }

  100% {
    Color: black;
  }
}

body > div:first-child span {
  animation: blink 3s linear infinite alternate;
}
